/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "locale/keys_jp.h"

// Layers 
#define DEFAULT    0
#define LEFT_LAY   1
#define RIGHT_LAY  2

// Switch Buttons
#define LANG_MOD     &kp JP_LANG
#define LEFT_MOD     &lt LEFT_LAY SPACE
#define RIGHT_MOD    &lt RIGHT_LAY TAB


/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Main Layer";
            bindings = <
        //╭───────────┬────────┬──────────┬────────────┬────────────┬────────────╮   ╭───────────┬─────────────┬───────────────┬───────────┬───────────┬─────────────╮
        //│  ESC      │  B     │  L       │  D         │  W         │   Z        │   │   '       │  F          │  O            │  U        │  J        │  :          │
            &kp ESC     &kp B      &kp L      &kp D      &kp W        &kp Z           &kp JP_SQT   &kp F         &kp O           &kp U       &kp J       &kp JP_COLON 
        //├───────────┼────────┼──────────┼────────────┼────────────┼────────────┤   ├───────────┼─────────────┼───────────────┼───────────┼───────────┼─────────────┤
        //│  LCTRL    │  N     │  R       │  T         │  S         │  G         │   │  Y        │  H          │  A            │  E        │  I        │  RCTRL      │
            &kp LCTRL   &kp N    &kp R      &kp T        &kp S        &kp G            &kp Y       &kp H         &kp A           &kp E       &kp I       &kp RCTRL
        //├───────────┼────────┼──────────┼────────────┼────────────┤────────────┤   ├───────────┼─────────────────────────────┼──────── ──┼───────────┼─────────────┤
        //│  LALT     │  Q     │  X       │  M         │  C         │  V         │   │  K        │  P          │  . >          │  , <      │  - =      │  /          │
            &kp LALT    &kp Q    &kp X      &kp M        &kp C        &kp V            &kp K       &kp P         &kp DOT         &kp COMMA   &kp MINUS   &kp JP_FSLH
        //╰───────────┴────────┴──────────┼────────────┼────────────┼────────────┤   ├───────────┼─────────────┼───────────────┼───────────┴───────────┴─────────────╯
        //                                │ SUPER      │ LEFT Layer │  LSHIFT    │   │ ENTER     │ RIGHT Layer │ BACKSPACE/ALT │ 
                                            &kp LGUI     LEFT_MOD      &kp LSHIFT      &kp ENTER   RIGHT_MOD     &lt RALT BSPC
        //                                ╰────────────┴────────────┴────────────╯   ╰───────────┴─────────────┴───────────────╯
            >;
        };

        left_layer {
            display-name = "Left Layer";
            bindings = <
        //╭───────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭─────────────┬─────────────┬────────────┬─────────────┬────────────┬─────────────╮
        //│  !        │  %         │  &         │  '         │  \￥       │  ^         │   │  `          │  ^          │  "         │  #          │  $         │  -          │
            &kp EXCL    &kp PRCNT    &kp JP_AMP   &kp JP_SQT   &kp JP_YEN  &kp JP_CARET     &kp JP_GRAVE  &kp JP_CARET   &kp JP_DQT   &kp JP_HASH   &kp DLLR     &kp JP_MINUS
        //├───────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼────────────┼─────────────┼────────────┼─────────────┤
        //│ +         │  5         │  6         │  7         │  8         │  9         │   │  0          │  1          │  2         │  3          │  4         │  @          │
           &kp JP_PLUS  &kp N5       &kp N6       &kp N7       &kp N8       &kp N9           &kp N0        &kp N1        &kp N2       &kp N3        &kp N4       &kp JP_AT
        //├───────────┼────────────┼────────────┼────────────┼────────────┤────────────┤   ├─────────────┼─────────────┼────────────┼─────────────┼────────────┼─────────────┤
        //│  /        │  \         │  [         │  {         │  (         │  <         │   │  >          │  )          │  }         │  ]          │  ~         │  _          │
           &kp JP_FSLH &kp JP_BSLH  &kp JP_LBKT  &kp JP_LBRC  &kp JP_LPAR   &kp JP_LT        &kp JP_GT     &kp JP_RPAR   &kp JP_RBRC  &kp JP_RBKT  &kp JP_TILDE  &kp JP_UNDER
        //╰───────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼────────────┼─────────────┴────────────┴─────────────╯
        //                                      │            │            │ LSHIFT     │   │  DELETE     │ RSHIFT      │            │ 
                                                  &trans       &trans       &kp LSHIFT       &kp DEL       &kp RSHIFT    &trans
        //                                      ╰────────────┴────────────┴────────────╯   ╰─────────────┴─────────────┴────────────╯
            >;
        };

        right_layer {
            display-name = "Right Layer";
	    bindings = <
        //╭────────────┬──────────┬───────────┬───────────┬────────────┬───────────╮   ╭──────────────┬─────────────┬─────────────┬──────────────┬───────────┬────────────╮
        //│  F1        │  F2      │  F3       │  F4       │  F5        │  F6       │   │ VOL UP       │ VOL DN      │ INC BRIGHT  │ DEC BRIGHT   │           │  BT CLEAR  │
            &kp F1       &kp F2     &kp F3      &kp F4      &kp F5       &kp F6         &kp C_VOL_UP   &kp C_VOL_DN  &kp C_BRI_UP  &kp C_BRI_DEC   &trans      &bt BT_CLR
        //├────────────┼──────────┼───────────┼───────────┼────────────┼───────────┤   ├──────────────┼─────────────┼─────────────┼──────────────┼───────────┼────────────┤
	//│  MUTE      │          │  HOME     │  PAGE DN  │  PAGE UP   │  END      │   │  LEFT        │  DOWN       │  UP         │  RIGHT       │           │            │
            &kp K_MUTE   &trans     &kp HOME    &kp PG_DN   &kp PG_UP    &kp END         &kp LEFT       &kp DOWN      &kp UP        &kp RIGHT      &trans      &trans
        //├────────────┼──────────┼───────────┼───────────┼────────────┤───────────┤   ├──────────────┼─────────────┼─────────────┼──────────────┼───────────┼────────────┤
        //│  F7        │  F8      │  F9       │  F10      │  F11       │  F12          │  PROFILE 0   │  PROFILE 1  │ PROFILE 2      CapsLock    │  PrintSc  │  INSERT    │
            &kp F7       &kp F8     &kp F9      &kp F10     &kp F11      &kp F12        &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2   &kp CAPS       &kp PSCRN   &kp INS        
	//╰────────────┴──────────┴───────────┼───────────┼────────────┼───────────┤   ├──────────────┼─────────────┼─────────────┼──────────────┴───────────┴────────────╯
        //                                    │           │            │ 全角/半角 │   │              │             │             │ 
                                                &trans      &trans       LANG_MOD        &trans         &trans        &trans
        //                                    ╰───────────┴────────────┴───────────╯   ╰──────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
